html, body {
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 991px) {
	h1 {
	font-size: 3rem;
	}
  }
  
  


h1 {
	font-family: 'cormorantlight', sans-serif;
	font-size: 5rem;
}

h2 {
	font-family: 'cormorantlight', sans-serif;
	font-size: 2rem;
}

h3 {
	font-family: 'fixelregular', sans-serif;
	font-size: 2rem;
}

p {
	font-family: 'fixelregular', serif;
	font-size: 1rem;
}


header {
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
align-items: center;
min-height: 100vh;
margin: 0;
background-image: url('ACS_0001.JPG');
background-size: cover;
background-position: center;
backdrop-filter: blur( 8.5px );
-webkit-backdrop-filter: blur( 8.5px );
}



.header-text-container {
position: absolute;
top: 50%;
left: 50%;
width: 100%;
transform: translate(-50%, -50%);
text-align: center;
}
  
.header-title {
background-color: rgba(0, 0, 0, 0.457);
color: rgb(255, 255, 255);
padding: 20px;
width: 100%;
align-self: center;
}


.black {
background-color: rgb(0, 0, 0);
padding: 20px;
color: white;
display: flex;
flex-direction: column;
}

.white {
background-color: #ffffff;
padding: 20px;
color: black;
display: flex;
flex-direction: column;
}

.skills {
display: flex;
flex-direction: row;
}

.skill1, .skill2, .skill3 {
padding: 20px;
}

.article-title {
font-family: 'fixel', sans-serif;
letter-spacing: 0.1em;
font-size: 1rem;
}

footer {
display: flex;
flex-direction: row;
justify-content: center;
align-content: center;
align-items: center;
text-align: center;
padding: 20px;
}

.side-bar {
background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(15px);
width: 290px;
height: 100vh;
position: fixed;
top: 0;
left: -100%;
overflow-y: auto;
transition: 0.6s ease;
transition-property: left;
z-index: 999;
font-family: 'poppins', sans-serif;
}
  
.side-bar.active{
left: 0;
}
  
.side-bar .menu{
width: 100%;
margin-top: 50px;
}
  
.side-bar .menu .item{
position: relative;
cursor: pointer;
}
  
.side-bar .menu .item a{
color: rgb(0, 0, 0);
font-size: 16px;
text-decoration: none;
display: block;
padding: 5px 30px;
line-height: 60px;
}
  
.side-bar .menu .item a:hover{
background: #ffffff;
opacity: 0.5;
transition: 0.3s ease;
}
  
.side-bar .menu .item i{
margin-right: 15px;
}
  
.side-bar .menu .item a .dropdown{
position: absolute;
right: 0;
margin: 20px;
transition: 0.3s ease;
}
  
.side-bar .menu .item .sub-menu{
background: rgba(255, 255, 255, 0.1);
display: none;
}

  
.rotate{
transform: rotate(90deg);
}
  
.close-btn{
position: absolute;
color: rgb(0, 0, 0);
font-size: 20px;
right: 0;
margin: 25px;
cursor: pointer;
}
  
.menu-btn{
position: fixed;
color: rgb(0, 0, 0);
font-size: 20px;
margin: 10px;
cursor: pointer;
z-index: 999;
}


